/* You can add global styles to this file, and also import other style files */
* {
  //color: red;
}

.pagination {
    display: inline-block;

    a {
      color: #000;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
}


.disabled {
  color: #ddd !important;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@import '~bootstrap/dist/css/bootstrap.css';
